body {
  background-color: #e7edee;
}

.App {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto; 
  border: 2px solid rgb(214, 226, 241);
  border-radius: 5px;
  padding: 5px;
}
.crossed {
  text-decoration: line-through 2px rgb(219, 96, 96);
  background-color: #f0f0f0;
}
ul, li {
  list-style-type: none;
  padding: 10px; 
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.add {
  background: #a4bbba;
  margin-top: 5px;
}
.delete {
  background: #dfcaca;
  margin-top: 5px;
}
.btn{
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(206, 215, 226);
  border-radius: 5px;
}
input {
  flex: 1;
  padding: 8px;
  margin: 9px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(206, 215, 226);
  border-radius: 5px;
}
.list {
  width: 100%;
  height: 400px;
 
}
